* {
    margin: 0;
    padding: 0;
}


html {
    overflow-x: hidden;
}

body {
    height: 100%;
}


.header-bg {
    background-color: #6200FF;
    display: block;
    position: absolute;
    height: 105vh;
    width: 20000px;
    padding-left: 3000px;
    top: -700px;
    left: -100px;
    z-index: -1;
    transform: rotate(-3deg);
}

nav {
    height: 6em;
    width: 100vw;
    position: fixed !important;
    z-index: 100000 !important;

}

.solid-nav {
    background: white;
}



nav img {
    padding-top: 3em;
    width: 45px;
    
}

nav button {
    float: right;
    color: white;
    margin-top: 2.6em;
    font-size: 12pt;
    font-family: 'Avenir', sans-serif;
    
    width: 170px;
    max-height: 4em;
    min-height: 3.4em;
    height: 3.4em;
    background: #2FE6D4;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
}


nav button:hover {
    background-color: white;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.3);
    color: #6200FF;
    transform: translateY(-7px);
}

button:focus {
    outline: none;
}


header {
    padding-top: 25vh;
    color: white;
    height: 600px;
    width: 100%;
    z-index: 10;
    
}

.layout-container {
    max-width: 1500px;
    width: 85vw;
    margin: auto;
    
}

header h1 {
    font-size: 30pt;
    font-family: 'Avenir', sans-serif;
    padding-bottom: 1em;
    font-weight: 500;

}

header p {
    font-family: 'Nunito Sans', sans-serif;
    clear: both;
    width: 500px;
    font-size: 12pt;
    font-weight: 200;
    padding-bottom: 3%;
    line-height: 2;
   
}

.head-text {
    margin: auto;
    width: 86vw;

}

.cta {
    clear: both !important;
    display: block;
    color: white;
    font-size: 14pt;
    font-family: 'Avenir', sans-serif;
    width: 200px;
    max-height: 4em;
    min-height: 3.2em;
    height: 3.2em;
    background: #2FE6D4;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.1);

}

.cta:hover {
    background-color: white;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.3);
    color: #6200FF;
    transform: translateY(-7px);
}

header img {
    position: absolute;
    margin-left: 39vw;
    top: 19%;
    min-width: 1000px;
    width: 1000px;
    max-width: 50vw;

}

.body1 {

    width: 100%;
    height: 1000px;
    margin-top: 26vh;
}

.body1-text {
    margin: auto;
    width: 100%;
    text-align: center;
}

.body1-text h1 {
    font-family: Avenir, sans-serif;
    font-size: 20pt;
    color: #2FE6D4;
}

.body1-text p {
    font-family: 'Nunito Sans', sans-serif;
    width: 500px;
    margin: auto;
    line-height: 2;
    font-size: 12pt;
    padding-top: 2em;
}

.tile-container {
    display: flex;
    margin: auto;
    width: 1200px !important;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 7em;
    
}

.tiles {
    min-width: 360px;
    max-width: 360px;
    height: auto;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.17);
    margin: 1em;
    transition: all 0.3s ease 0s;

}

.content {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 5.5em 2em;
    text-align: center;
}

.tiles:hover {
    box-shadow: 0px 15px 40px rgba(0,0,0,0.2);
    transform: translateY(-10px)
}

.content p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11pt;
    line-height: 2;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    
}

.content img {
    width: 50px;
}

#one {
    color: #009DFF;
    font-weight: 500;
    font-size: 14pt;
    font-family: Avenir, sans-serif;
    margin-top: 3em;
}

#two {
    color: #FFB100;
    font-weight: 500;
    font-size: 14pt;
    font-family: Avenir, sans-serif;
    margin-top: 3em;
}

#three {
    color: #9300FF;
    font-weight: 500;
    font-size: 14pt;
    font-family: Avenir, sans-serif;
    margin-top: 3em;
}

#four {
    color: #9300FF;
    font-weight: 500;
    font-size: 14pt;
    font-family: Avenir, sans-serif;
    margin-top: 3em;
}

#five {
    color: #FF00E2;
    font-weight: 500;
    font-size: 14pt;
    font-family: Avenir, sans-serif;
    margin-top: 3em;
}

#six {
    color: #009DFF;
    font-weight: 500;
    font-size: 14pt;
    font-family: Avenir, sans-serif;
    margin-top: 3em;
}

.body1 button {
    display: block;
    margin: auto;
    margin-top: 6em;
    color: white;
    font-size: 14pt;
    font-family: 'Avenir', sans-serif;
    width: 200px;
    max-height: 4em;
    min-height: 3.4em;
    height: 3.4em;
    background: #2FE6D4;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
}


.body1 button:hover {
    background-color: white;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
    color: #6200FF;
    transform: translateY(-7px);
}

.showcase-bg {
    background-color: #6200FF;
    display: block;
    position: relative;
    height: 1500px;
    width: 20000px;
    left: -200px;
    padding-left: 3000px;
    z-index: -1;
    transform: rotate(-3deg);

}

    .showcase-text {
        margin: auto;
        position: relative;
        top: -900px;
        color: white;
        text-align: center;
    }

    .showcase h1 {
        font-family: Avenir, sans-serif;
        font-size: 25pt;
    }

    .showcase p {
        font-family: 'Nunito Sans', sans-serif;
        padding-top: 3em;
        font-weight: 300;
        font-size: 13pt;
        width: 570px;
        line-height: 3;
        margin: auto;
    }
    




/* Carousel */

    .showcase ul {
        display: block;
        margin: auto !important;
        position: relative;
        top: -700px;
        width: 85%;
        max-width: 1500px;
        height: auto;
        
    }

    .showcase li {
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .showcase li img {

        width: 900px;
        height: auto;
    }

    #second, #third {
        display: none;
    }

    #prev {
        background: white;
        border-radius: 100%;
        height: 4em;
        width: 4em;
        border: none;
        transition: all 0.3s ease 0s;
        box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
        left: 0;
        position: absolute;
        margin-top: 20em;
        
    }

    #next:hover, #prev:hover {
        box-shadow: 0px 30px 50px rgba(0,0,0,0.25);
        transform: scale(1.1);
        color: #6200FF;
    }

    

    #next {
        background: white;
        border-radius: 100%;
        height: 4em;
        width: 4em;
        border: none;
        transition: all 0.3s ease 0s;
        box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
        right: 0;
        position: absolute;
        margin-top: 20em;
    }

    button img {
        width: 8px;
    }


/* ENDS HERE */


.clients {
    margin: auto;
    background: #F0F0F0;
    position: relative;
    height: 200px;
    top: -520px;
}

.clients ul {
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
}

.clients li {
    display: inline-block;
}

.clients img {
    padding-top: 5em;
    width: 50px;
    height: auto;
    margin-left: 17em;
}

#gu {
    width: 80px;
    margin-left: 0;
    padding-top: 4.3em;
}



/* Footer */


.footer {
    position: relative;
    top: -450px;
    text-align: center;
}

.footer h1 {
    color: #2FE6D4;
    font-family: Avenir, sans-serif;
    font-size: 20pt;
    padding-bottom: 1.6em;
}


.footer p {
    font-family: 'Nunito Sans', sans-serif;
    width: 550px;
    line-height: 2;
    font-size: 12pt;
    margin: auto;
   
}

.card {
    width: 900px;
    margin: auto;
    margin-top: 6em;
    min-width: 700px;
    border-radius: 13px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.17);
}

.card img {
    width: 120px;
    margin-top: 4em;
    border-radius: 100px;
    box-shadow: 0px 15px 40px rgba(0,0,0,0.17);

}

.card h2 {
    font-family: Avenir, sans-serif;
    font-size: 14pt;
    padding-top: 3em;
    text-align: center;
    padding-bottom: 1em;
    margin: auto;
    color: #009DFF;
}

#bio {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
    text-align: center;
    padding-bottom: 1em;
    margin: auto;
}

#quote {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
    width: 80%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 4em;
    margin: auto;
}

.footer button {
    display: block;
    margin: auto;
    margin-top: 6em;
    color: white;
    font-size: 14pt;
    font-family: 'Avenir', sans-serif;
    width: 200px;
    max-height: 4em;
    min-height: 3.4em;
    height: 3.4em;
    background: #2FE6D4;
    border: none;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
}


.footer button:hover {
    background-color: white;
    box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
    color: #6200FF;
    transform: translateY(-7px);
}


#items {
    margin: auto;
    position: relative;
    top: -4em;
    left: -2.68em;
    z-index: -3;
}

#backtotop {
    width: 70px !important;
    height: 70px !important;
    border-radius: 100%;
    height: auto;
    margin-top: -3em;
    margin-bottom: 7em;

}

#backtotop img {
    width: 15px;
  
}

 #backtotop:hover {
        box-shadow: 0px 30px 50px rgba(0,0,0,0.25);
        transform: scale(1.1);
        color: #6200FF;
}

.copyright {
    background: #F0F0F0;
    width: 100% !important;
    margin: auto;
}

.copyright p {
    width: 100%;
    padding: 2em;
    margin: auto;
    text-align: center;
    font-family: Avenir, sans-serif;

}



@media screen and (min-width: 1800px) {

    .head-text {
        width: 100%;
        margin-top: 5em;

    }


    header h1 {
        font-size: 30pt;
        font-family: 'Avenir', sans-serif;
        padding-bottom: 1em;
        font-weight: 500;

    }

    header p {
        font-family: 'Nunito Sans', sans-serif;
        clear: both;
        width: 550px;
        font-size: 14pt;
        font-weight: 200;
        padding-bottom: 3%;
        line-height: 2;
    
    }


    header img {
        width: 1500px;
        top: 200px;
        right: 250px;
    }


    .body1 {
    
    width: 100%;
    height: auto;
    margin-top: 56vh;
    }


      }

      .showcase-bg {
          top: -100px;
      }




@media screen and (max-width: 1190px) {

    .head-text {
        text-align: center;
        margin: auto;
    }

    header p {
        margin: auto;
    }

    header button {
        margin: 2em auto;
    }

    header img {
        display: none;
    }

    .tile-container {
        width: 900px !important;
        display: flex;
    }
    .tiles {
        display: block;

    }

    .showcase-bg {
        top: 350px;
    }

}

